.userListUI{
	.nav-tabs{
		margin-bottom: 30px;
    border-bottom:1px solid #3C4752 ;
		.nav-item{
			cursor: pointer;
			.nav-link{ 
				padding-top: 15px;
				padding-bottom: 15px;
				font-family: 'Mulish', sans-serif;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.4px;
				color: #7D7D7D;
				border: none;
				position: relative;
				&:hover{
					.badge{
						opacity: 1;
					}
				}
				&.active{
					color: #FFF;
					background: transparent;
					&::after{
						content: '';
						width: 100%;
						height: 2px;
						background: #F24462;
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					.badge{
						opacity: 1;
					}
				}
				.badge{
					margin-left: 6px;
					color: #FFF;
					opacity: 0.6;
					background: #212B36;
					font-weight: 400;
				}
			}
		}
	}
	.tab-pane{
		background: #222326;
		border: 1px solid #4D4D4D;
		border-radius: 13px;
		overflow: hidden;
    position: relative;
		.input-group{
      margin-top: 10px;
      height: 60px;
      padding: 0 15px;
			.form-control{
				background: #222326;
        color: #fff;
        border-color: transparent;
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */
        letter-spacing: 0.4px;
        color: #FFF;
        &::placeholder{
          color: rgba(255, 255, 255, 0.35);
        }
        &:focus, &:focus-visible{
          outline: none;
          box-shadow: none;
          border: none;
        }
			}
      .dropdown-toggle {
        background: transparent;
        border-color:transparent ;
        font-family: 'Gilroy-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: rgba(255, 255, 255, 0.65);
        &:focus, &:focus-visible{
          outline: none;
          box-shadow: none;
          border: none;
        }
      }
		}
		.table{
			border: none;
			background: transparent;
			thead{
				background: #2E2F34;
				border: none;
				border-bottom: 1px solid #4D4D4D;
				tr{
          th{
            font-family: 'Gilroy-Bold', sans-serif;
            font-style: normal;
            font-size: 13.33px;
            line-height: 16px;
            letter-spacing: 0.4px;
            color: rgba(255, 255, 255, 0.5);
						border: none;
						padding: 1rem 0.5rem;
            text-align: left;
            &:first-child{
              width: 80px;
              text-align: center;
            }
            &:nth-child(2){
              width: 300px;
            }
            &:nth-last-child(2){
              width: 100px;
            }
            &:last-child{
              width: 100px;
              text-align: center;
            }
            .order-4, .caret-4-desc,.caret-4-asc{
              display: inline-flex;
              width: 20px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              vertical-align: super;
              &::before{
                content: '';
                background: url(../../public/images/Polygon1.svg) no-repeat center;
                height: 5px;
                width: 10px;
                margin: 0 0 2px;
              }
              &::after{
                content: '';
                background: url(../../public/images/Polygon2.svg) no-repeat center;
                height: 5px;
                width: 10px;
              }
            }
					}
				}
			}
			tbody{
				tr{
					border: none;
					td{
						font-family: 'Gilroy-Regular', sans-serif;
						font-style: normal;
						font-weight: 400;
						font-size: 13.33px;
						line-height: 16px;
						letter-spacing: 0.4px;
						color: #FFF;
						padding: 1rem 0.5rem;
						border: none;
						border-bottom: 1px solid rgba(60, 71, 82, 0.4);
            text-align: left;
            .userNameImage{
              display: flex;
              align-items: center;
              img{
                margin-right: 10px;
              }
            }
            .greenTxt{
              font-family: 'Gilroy-Regular';
              font-style: normal;
              font-weight: 400;
              font-size: 13.33px;
              line-height: 16px;
              /* identical to box height */
              letter-spacing: 0.4px;
              color: #47FF5A;
            }
            &:first-child{
              width: 80px;
              text-align: center;
            }
            &:nth-child(2){
              width: 300px;
            }
            &:nth-last-child(2){
              width: 100px;
            }
            &:last-child{
              width: 100px;
              text-align: center;
            }            
					}
					&:hover{
						background: #2E2F34;
					}
				}
			}
		}
    //----- Post Page scss ----------
    .userPostListBox{      
      border-top: 1px solid #4D4D4D;
      display: flex;
      padding: 25px 0 0 25px ;
      flex-wrap: wrap;
      transition: all 0.5s ease-in;
      .card{
        width: calc(25% - 25px);
        margin-right: 25px;
        border-radius: 11.0353px;
        overflow: hidden;
        margin-bottom: 25px;
        height: 0;
        padding-bottom: 25%;
        position: relative;
        @media (max-width:1280px) {
          width: calc(33% - 25px);
          padding-bottom: 33%;
        }
        &::before{
          content: '';
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
          mix-blend-mode: normal;
          opacity: 0.95;
          width: 100%;
          height: 70%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 1;
        }        
        .card-img{
          position: absolute;
          z-index: 0;
          bottom: 0;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        .cardActionBox{
          position: relative;
          z-index: 3;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding:10px 20px;
          .checkboxUI{
            text-align: left;        
            .form-check-input{
              margin-top: 0;
            }
          }
        }
        .card-img-overlay{
          top: auto;
          text-align: left;
          padding: 16px 16px 20px;
          z-index: 2;
          .card-title {
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 15px;
            letter-spacing: 0.0574756px;
            color: #FFF;
            span{
              color:#F24462
            }
          }
          .card-subtitle{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 10px;
            color: #FFF;
            img{
              margin-right: 6px;
              height: 12px;
              vertical-align: middle;
            }
          }
          .card-text{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #FFF;
            span{
              font-family: 'Helvetica';
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 10px;
              color: #FFF;
              vertical-align: top;
            }
          }
          .card-link{
            background: linear-gradient(231.4deg, rgba(46, 49, 58, 0.40422) 18.16%, rgba(25, 25, 25, 0.415923) 95.56%);
            border: 0.344853px solid #293036;
            backdrop-filter: blur(6.20736px);
            border-radius: 3.44853px;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 300;
            font-size: 9px;
            line-height: 11px;
            letter-spacing: 0.344853px;
            color: #FFFFFF;
            text-decoration: none;
            padding: 6px;
            img{
              margin-right: 5px;
            }
            & + .card-link{
              margin-left: 5px;
            }
          }
        }
        .showDetail{
          width: auto;
          color: #fff;
        }
        .posterDetails{
          background: #151515;
          border-radius: 8px;
          z-index: 2;
          transform: translateY(21rem);
          height: 100%;
          position: absolute;
          transition: all 0.5s ease;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h3{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.0666667px;
            margin-bottom: 15px;
          }
          p{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0583333px;
            color: #FFFFFF;
          }
          &.posterDetailShow{
            transform: translateY(0);
          }
        }
        &.verifyPhotoCard{
          padding-bottom: 33.3% !important;
          padding-top: 25px;
          min-height: 384px;
          min-height: 440px;
          &::before{
            display: none;
          }
          .cardActionBox{
            padding-top: 0;
            position: absolute;
          }
          .userProfileDetail{
            margin: 0 auto;
          }
          .card-title{
            font-style: normal;
            font-family: 'Gilroy-Medium';
            font-weight: unset;
            font-size: 13.33px;
            line-height: 17px;
            letter-spacing: 0.4px;
            color: #FFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 10px 0 14px;
          }
          .card-link{
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0893246px;
            text-transform: capitalize;
            color: #FFF;
            min-width: 86px;
            margin-left: 0;
            display: inline-block;
          }
          .btn{
            height: 26px;
            font-family: 'Helvetica';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0893246px;
            text-transform: capitalize;
            color: #FFF;
            margin:14px 6px 0 0;
            min-width: 100px;
            padding: 3px 15px;
            line-height: normal;
            min-width: 86px;
          }
          .requestBtn{
            border: 1px solid #FFF;
            border-radius: 8px;
            background: transparent;
          }
          .verifyBtn{    
            background: #F24462;
            border-radius: 8px;
            border-color: #F24462;
            margin-right: 0;
          }
          .card-footer{
            font-style: normal;
            font-family: 'Gilroy-Medium';
            font-weight: unset;
            font-size: 13.33px;
            line-height: 17px;
            letter-spacing: 0.4px;
            color: #FFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 20px 0;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #3C4752;
            margin: 20px auto 0;
            width: calc(100% - 50px);
          }
          .card-body{
            padding: 0;
            width: 175px;
            margin: 0 auto;
            .card-title,
            .card-text{
              background: #151515;
              border-radius: 8px;
              font-size: 12px;
              height: 50px;
            }
            .card-text{
              height: 175px;
              padding: 15px;
              font-style: normal;
              font-family: 'Gilroy-Medium';
              font-weight: unset;
              font-size: 12px;
              line-height: 17px;
              letter-spacing: 0.4px;
              color: #FFF;
              margin-bottom: 12px;
            }
          }
        }
      }
    }
	}
}

.requestPopup{
  background: #222326;
  border: 1px solid #4D4D4D;
  border-radius: 10px;
  display: flex;
    flex-direction: row-reverse;
    height: 46px;
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  .toast-header{
    background: #222326;
    padding: 0;
    margin-left: 0;
    height: 20px;
    align-self: center;
    .btn-close{
      color: #fff;
      margin: 0;
      background: url(../assets/images/CloseSquare.svg) no-repeat center;
      margin-right: 8px;
    }
  }
  .form-check{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 0;
    margin-right: auto;
    
    label{
      margin-left: 5px;
    }
  }
  .btn{
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 15px;
  }
  .requestBtn{
    border: 1px solid #FFF;
    border-radius: 8px;
    background: transparent;
  }
  .verifyBtn{    
    background: #F24462;
    border-radius: 8px;
    border-color: #F24462;
    padding: 3px 25px;
  }
}

// request Modal UI
.requestModal{
  .modal-dialog{
    max-width: 335px;
  }
  .modal-content{
    background: #1F2124;
    border: 1px solid #3D3D3F;
    border-radius: 15px;
    .modal-header{
      flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    border: none;
      .modal-title{
        font-family: 'Helvetica-light';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.638033px;
        color: #FFFFFF;
        margin-bottom: 5px;
        text-transform: uppercase;
      }
      p{
        font-family: 'Helvetica';
      }
      .btn-close{
        position: absolute;
        top: 15px;
        right: 15px;
        background: url(../assets/images/CloseSquare.svg) no-repeat center;
        background-size: 15px;
      }
    }
    .list-group{
      .list-group-item{
        background: transparent;
        color: #fff;
        border: none;
        .form-check{
          display: flex;
          align-items: center;
          .form-check-input{
            margin-top: 0;
            margin-right: 10px;
          }
        }
      }
    }
    .verifyBtn{    
      background: #F24462;
      border-radius: 8px;
      border-color: #F24462;
      padding: 13px 25px;
      width: 100%;
      font-family: 'Helvetica-light';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 10px;
    }
  }
}