$black-color: #000;
$white-color: #fff;
$red-color: #ff0000;
$primary-color: #F24462;


@mixin CardBg {
    background: #222326;
    border: 1px solid #4D4D4D;
    border-radius: 13px;
    padding: 20px;
    margin-bottom: 25px;
}